#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.card {
  border-radius: 2rem;
  border: 0.01rem solid black;
  height: fit-content;
  padding: 0.5rem;
  background-color: white;
  height: 100%;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0;
  width: 100%;
}